<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>[[ ${photo.title} ]]</title>
</head>
<body>

	<main th:object="${photo}">
		
		<h2>[[ *{title} ]]</h2>
		
		<span th:text="${photo.visible ? 'Visibile' : 'Non visibile'}"></span>
		
		<img th:src="@{*{url}}">
		
		<p>[[ *{description} ]]</p>
		
		<ul>
			<li 
				th:each="category : ${photo.categories}"
				th:object="${category}"
			>
				[[ *{name} ]]
			</li>
		</ul>
		
		<a
			th:href="@{/}"
		>Home</a>
		
		<a 
			th:href="@{/edit-photo/{id} (id = *{id})}"
		>Modifica</a>
		
	</main>

</body>
</html>